li{
    list-style-type: none;
    text-align: center;
    max-width: 250px;
    padding: 5px;
    background-color: mediumblue;
    border: darkblue solid;
    :hover{
        opacity: 25%;
        font-size: 110%;
    }
    :active{
        opacity: 15%;
    }
}
a {
    text-decoration: none;
    color: white;

}
